@CHARSET "UTF-8";
table {
    overflow:hidden;
    border:1px solid #075A59;
    background:#fefefe;
    width:50%;
    border-radius:5px;
}


th, td {
    padding:8px 18px 8px; 
    text-align:center; 
}
 
th {

    text-shadow: 1px 1px 1px #fff;
    background:#e8eaeb;
}
 
td {
    border-top:1px solid #e0e0e0; 
    border-right:1px solid #e0e0e0;
}