<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <context-param>
    <param-name>defaultWebBase</param-name>
    <param-value>CatalogApp</param-value>
  </context-param>
  <context-param>
    <param-name>baseURL</param-name>
    <param-value>http://localhost:8081/CatalogApp</param-value>
  </context-param>
  <context-param>
    <param-name>bannerImage</param-name>
    <param-value>http://localhost:8081/CatalogApp/images/catalog1.png</param-value>
  </context-param>
  <servlet>
    <servlet-name>ShowAddresses</servlet-name>
    <servlet-class>com.catalog.webapp.ShowAddresses</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAddresses</servlet-name>
    <url-pattern>/ShowAddresses</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowUsers</servlet-name>
    <servlet-class>com.catalog.webapp.ShowUsers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowUsers</servlet-name>
    <url-pattern>/ShowUsers</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowPositions</servlet-name>
    <servlet-class>com.catalog.webapp.ShowPositions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowPositions</servlet-name>
    <url-pattern>/ShowPositions</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddPosition</servlet-name>
    <servlet-class>com.catalog.webapp.AddPosition</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPosition</servlet-name>
    <url-pattern>/AddPosition</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetPositions</servlet-name>
    <servlet-class>com.catalog.webapp.GetPositions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPositions</servlet-name>
    <url-pattern>/GetPositions</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginUser</servlet-name>
    <servlet-class>com.catalog.webapp.LoginUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginUser</servlet-name>
    <url-pattern>/LoginUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SignOut</servlet-name>
    <servlet-class>com.catalog.webapp.SignOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignOut</servlet-name>
    <url-pattern>/SignOut</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>JsonPositions</servlet-name>
    <servlet-class>com.catalog.webapp.JsonPositions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JsonPositions</servlet-name>
    <url-pattern>/JsonPositions</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>JsonUsers</servlet-name>
    <servlet-class>com.catalog.webapp.JsonUsers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JsonUsers</servlet-name>
    <url-pattern>/JsonUsers</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>JsonAddresses</servlet-name>
    <servlet-class>com.catalog.webapp.JsonAddresses</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JsonAddresses</servlet-name>
    <url-pattern>/JsonAddresses</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/errorHandler.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/errorHandler.jsp</location>
  </error-page>
</web-app>